*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: poppins, sans-serif;
    font-size: 16px;
}

.Mobile {
    width: 414px;
    height: 3030px;
    flex-grow: 0;
  }

.Elegante-logotipo-con-hoja-3 {
    width: 213px;
    height: 96px;
    margin: 0 101px 62px 43px;
  }

  .Disfruta-creando-espacios {
    width: 414px;
    height: 38px;
    margin: 62px 40px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0c474b;
  }

.Rectangle-17 {
    width: 414px;
    height: 389px;
    padding: 19px 0 64px;
    background-image: url("../img/header.jpg"); 
    background-size: 170% 100%;
    background-position: center;
}

.Logotipo-burger{
    display: flex;
}

img.menu-hamburger {
    width: 24px;
    height: 24px;
    margin: 36px 43px 98px 33px;
    object-fit: contain;
  }

.Frame-19 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 62px 119px 0 115px;
    padding: 12px 24px;
    background-color: #0c474b;
    flex-grow: 0;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    border: none;
  }
  
.Frame-19 button:hover{
    background-color: burlywood;
    color: #0c474b;
}

.main{
    background-color: #f0ebe5;
    color: #0C474B;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.box1{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.box2{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.box3{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.espacio-img{
    width: 100%;
    display: flex;
}

.van{
    background-color: #ff975a;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px 0 10px;
}

.van-image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0px 0px 50px;
}

.text4{
    font-size: 12px;
    background-color: #F0EBE5;
    color: #0C474B;
    text-align: center;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.text4 button:hover{
    background-color: burlywood;
}

.footer{
    background-color: #0c474b;
    color:  #b6c8c9;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 40px;
    flex-wrap: wrap;
    padding: 20px 0;
    width: 100%;
}

.footer-list{
    font-size: 20px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    
}

.list{
    list-style: none;
    font-size: 14px;
    
}

a{
    text-decoration: none;
    color: #b6c8c9;
    
}

.footer-social{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}