*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: poppins, sans-serif;
    font-size: 16px;
}



.Elegante-logotipo-con-hoja-3 {    
    height: 96px;
    margin: 0 auto 2rem auto;
  }z

  .Disfruta-creando-espacios {
    margin: 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #0c474b;
  }

.Rectangle-17 {
    background-image: url("../img/header.jpg"); 
    background-size: cover;
    background-position: center;
}

.Logotipo-burger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

img.menu-hamburger {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

.Frame-19 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 62rem auto;
    padding: 12px 24px;
    background-color: #0c474b;
    font-size: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
.Frame-19:hover{
    background-color: burlywood;
}

.main{
    background-color: #f0ebe5;
    color: #0C474B;
}

.title{
    font-weight: 600;
    text-align: center;
    margin: 2rem 1rem;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.box1{
    text-align: center;

}

.box2{
    text-align: center;
    
}

.box3{
    text-align: center;
   
}

.espacio-img{
    width: 100%;
    display: block;
}

.van{
    background-color: #ff975a;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.van-image{
    margin-bottom: 1rem;
    max-width: 100%;
}

.text4{
    font-size: 0.875rem;
    background-color: #F0EBE5;
    color: #0C474B;
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.text4 button:hover{
    background-color: burlywood;
}

.footer{
    background-color: #0c474b;
    color:  #b6c8c9;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 1rem;
    width: 100%;
}

.footer-list{
    font-size: 1.5rem;
    padding: 1rem 0;
    
}

.list{
    list-style: none;
    font-size: 0.875rem;
    
}

a{
    text-decoration: none;
    color: #b6c8c9;
    
}

.footer-social{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

